
    Directory: C:\code\remakes_through_history\raw_assets\custom_art\dungeon_crawler_test

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
-a---            1/8/2025  1:12 PM              0 .gitignore

